body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("/images/background.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    color: goldenrod;
    font-size: 80px;
}

#message-el {
    font-style: italic;
}

button{
    color: #016f32;
    width: 200px;
    background: goldenrod;
    padding: 10px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

@media (max-width: 600px) {
    body{
        font-size: 35px;
    }

    h1{
        font-size: 65px;
        margin-top: 0;
    }

    p{
        margin: 40px;
    }

    button{
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }


}